<body class="bg-teal-50 flex items-center justify-center min-h-screen">
  <section class="text-center p-6">
    <h2 class="text-teal-600 text-1xl font-bold">INSURANCE SERVICES</h2>
    <h1 class="text-gray-800 text-3xl font-bold mt-2 mb-8">
      Take The Worry Out Of Life With Insurance Protection
    </h1>
    <div
      class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto"
    >
      <div class="relative">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSRgNHXQECYh9Sy_OldQ5pf1lyeF_-q5MyGg&s"
          alt="Business Insurance"
          class="w-full h-64 object-cover rounded-lg shadow-lg"
        />
        <div
          class="absolute inset-x-20 inset-y-20 bg-teal-600 bg-opacity-60 flex items-center justify-center rounded-lg"
        >
          <div class="text-white text-center p-4">
            <span class="text-sm uppercase tracking-wide"
              >Insurance • Vehicle</span
            >
            <h3 class="text-xl font-semibold mt-1">Business Insurance</h3>
          </div>
        </div>
      </div>

      <div class="relative">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvcyoDVk_vfdkCn8rlsJLDSlQ949sDJpvp1g&s"
          alt="Vehicle Insurance"
          class="w-full h-64 object-cover rounded-lg shadow-lg"
        />
        <div
          class="absolute inset-20 bg-teal-600 bg-opacity-60 flex items-center justify-center rounded-lg"
        >
          <div class="text-white text-center p-4">
            <span class="text-sm uppercase tracking-wide"
              >Insurance • Vehicle</span
            >
            <h3 class="text-xl font-semibold mt-1">Vehicle Insurance</h3>
          </div>
        </div>
      </div>

      <div class="relative">
        <img
          src="https://img.freepik.com/free-vector/home-car-travel-health-insurance-flat-family-with-safety-shield-happy-parents-with-children-protection-property-life-characters-coverage-accident-assurance-plan-concept_88138-652.jpg"
          alt="Family Insurance"
          class="w-full h-64 object-cover rounded-lg shadow-lg"
        />
        <div
          class="absolute inset-20 bg-teal-600 bg-opacity-60 flex items-center justify-center rounded-lg"
        >
          <div class="text-white text-center p-4">
            <span class="text-sm uppercase tracking-wide">Insurance • Car</span>
            <h3 class="text-xl font-semibold mt-1">Car Insurance</h3>
          </div>
        </div>
      </div>
    </div>

    <p class="text-gray-500 mt-6 max-w-lg mx-auto">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat
      arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus
      <a href="#" class="text-teal-600 font-semibold">View All</a>
    </p>
  </section>
</body>
